<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<table cellspacing="0" cellpadding="0" border="0" style="color:#333;background:#fff;padding:0;margin:0;width:100%;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica"> <tbody><tr width="100%"> <td valign="top" align="left" style="background:#eef0f1;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica"> <table style="border:none;padding:0 18px;margin:50px auto;width:500px"> <tbody> <tr width="100%" height="60"> <td valign="top" align="left" style="border-top-left-radius:4px;border-top-right-radius:4px;background:#fff url(https://ci5.googleusercontent.com/proxy/EX6LlCnBPhQ65bTTC5U1NL6rTNHBCnZ9p-zGZG5JBvcmB5SubDn_4qMuoJ-shd76zpYkmhtdzDgcSArG=s0-d-e1-ft#https://trello.com/images/gradient.png) bottom left repeat-x;padding:10px 18px;text-align:center"> <img height="auto" width="" src="http://www.maxassist.com.tr/assets/images/maxassist-logo.png" title="Trello" style="font-weight:bold;font-size:18px;color:#fff;vertical-align:top" class="CToWUd"> </td> </tr> <tr width="100%"> <td valign="top" align="left" style="background:#fff;padding:18px">

 <h1 style="font-size:20px;margin:16px 0;color:#333;text-align:center"> Anketimize Katılarak Bizi Değerlendirin.</h1>

 <style>
 
 .fa-star{
 color:#ffcf03;
 }
 
 
 
 </style>

 <div style="background:#f6f7f8;border-radius:3px"> <br>
<form action="http://localhost/homeguard/yonetimpaneli/degerlendirme" method="POST">
 <p style="text-align:center">    
 <label style="display:block; text-align:center;">Hizmetimizi Nasıl buldunuz ?</label>
 <br>
 <span style="text-align:center;"><input type="radio" name="vote" value="1">1</span>
 <span style="text-align:center;"><input type="radio" name="vote" value="2">2</span>
 <span style="text-align:center;"><input type="radio" name="vote" value="3">3</span>
 <span style="text-align:center;"><input type="radio" name="vote" value="4">4</span>
 <span style="text-align:center;"><input type="radio" name="vote" value="5">5</span>
  </p>

 <p style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;margin-bottom:0;text-align:center"> <button href="#" type="submit" style="border:none;border-radius:3px;background:#3aa54c;color:#fff;display:block;font-weight:700;font-size:16px;line-height:1.25em;margin:24px auto 6px;padding:10px 18px;text-decoration:none;width:180px" target="_blank">Gönder</button> </p>

 <br><br> </div>
</form>
 <p style="font:14px/1.25em 'Helvetica Neue',Arial,Helvetica;color:#333; text-align:center;"><a href="http://www.maxassist.com.tr/" style="color:#306f9c;text-decoration:none;font-weight:bold" target="_blank">Maxassist.com.tr</a> Tüm Hakları Saklıdır.</p>

 </td>

 </tr>

 </tbody> </table> </td> </tr></tbody> </table>